.basic {
  background-color: rgba(104, 183, 56, 0.85);
}

.basic__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .basic {
    background-color: #ffffff;
  }

  .basic__wrapper {
    width: 704px;
    margin: 0 auto;
  }

  .basic__description {
    color: #000000;
  }
}
