.catalog {
  width: 280px;
  margin: 0 auto;
}

.catalog__title {
  padding-bottom: 41px;


  &::before {
    content: "";
    display: block;
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    margin-bottom: 27px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 705px;
  }

  .catalog__title {
    width: 432px;
    padding-top: 65px;
    padding-bottom: 84px;

    &::before {
      content: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
  }

  .catalog__title {
    padding-top: 74px;
    padding-bottom: 165px;
  }
}
