.details__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  counter-reset: item;
}

.details__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}

.details__title {
  margin: 0;
  padding-bottom: 40px;
  padding-top: 4px;
}

.details__item {
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.details__item--healthy {
  background-image: url("../../icons/stack.svg#leaf");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  height: 60px;
}

.details__item--water {
  background-image: url("../../icons/stack.svg#water");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  height: 60px;

  &::before {
    right: 0;
  }
}

.details__item--food {
  background-image: url("../../icons/stack.svg#eat");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  height: 60px;

  &::before {
    right: 0;
  }
}

.details__item--result {
  background-image: url("../../icons/stack.svg#clock");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  height: 60px;
  margin-bottom: 49px;
  padding: 0;

  &::before {
    right: 0;
  }
}

.details__description {
  display: block;
  padding-top: 2px;
  padding-left: 80px;
  width: 200px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .details__wrapper {
    width: 708px;
    margin: 0 auto;
    border-bottom: solid $bg-extra-dim;
  }

  .details__title {
    padding-top: 48px;
    padding-bottom: 32px;
    width: 375px;
  }

  .details__list {
    display: grid;
    grid-template-columns: 249px 249px;
    grid-template-rows: 280px 280px;
    gap: 38px 134px;
    margin-bottom: 17px;
  }

  .details__item--healthy {
    background-image: url("../../icons/stack.svg#leaf-tablet");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    height: auto;
  }

  .details__item--water {
    background-image: url("../../icons/stack.svg#water-tablet");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    height: auto;
  }

  .details__item--food {
    background-image: url("../../icons/stack.svg#eat-tablet");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    height: auto;
  }

  .details__item--result {
    background-image: url("../../icons/stack.svg#clock-tablet");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    height: auto;
  }

  .details__item {
    margin: 0;
    padding: 0;
    background-position: left top 40px;

    &::before {
      font-family: "Oswald", sans-serif;
      counter-increment: item;
      content: counter(item);
      position: absolute;
      top: 0;
      right: 21px;
      font-size: 280px;
      line-height: 1;
      color: $bg-secondary;
      z-index: -1;
    }
  }

  .details__description {
    width: 245px;
    padding: 0;
    padding-top: 156px;
  }
}

@media (min-width: $desktop-width) {
  .details__wrapper {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 69px;
    border: none;
  }

  .details__title {
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
  }

  .details__list {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap: 75px;
    grid-template-rows: auto;
    margin: 0;
  }

  .details__description {
    padding-bottom: 40px;
  }

  .details__item {
    width: 250px;
    background-position: left top 45px;
  }
}
