.example__wrapper {
  background-color: #f2f2f2;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  text-transform: lowercase;
}

.example__price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    width: 704px;
    margin: 0 auto;
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    width: 1220px;
    margin: 0 auto;
    background-color: #f2f2f2;
  }
}
