.invite__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.invite__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.invite__wrapper--catalog {
  background-color: #f2f2f2;
}


@media (min-width: $tablet-width) {
  .invite__wrapper {
    width: 704px;
    min-height: 150px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .invite__wrapper {
    width: 1220px;
    min-height: 50px;
    margin: 0 auto;
  }
}
