.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__img {
  padding-top: 13px;
  padding-left: 20px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 0;
    position: relative;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.logo__text {
  padding-bottom: 9px;
  padding-left: 52px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 7px;
    position: relative;
    top: -16px;
    left: -17px;
  }

  @media (min-width: $desktop-width) {
    left: -16px;
  }
}

.logo__img--catalog {
  @media (min-width: $tablet-width) {
    right: 24px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
    bottom: 8px;
  }
}

.logo__text--catalog {
  @media (min-width: $tablet-width) {
    left: -24px;
  }

  @media (min-width: $desktop-width) {
    left: -16px;
    top: -26px;
  }
}
