.main-nav__toggle {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#close");
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#burger");
}
