.main-header {
  background-color: #ffffff;
  color: #000000;
  margin: 13px 20px;
}

.main-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    display: flex;
    width: 704px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-header__logo-container {
    width: 179px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: 1220px;
  }

  .main-header__logo-container {
    width: 206px;
  }
}
