.main-nav__toggle {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#close");
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#burger");
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    align-content: end;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    background-color: rgba(104, 183, 56, 0.85);
  }
}
