.main-container-catalog__wrapper {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .main-container-catalog__wrapper {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-container-catalog__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
