.product-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product-list__link {
  text-decoration: none;
}

.product-list__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.product-list__title--add {
  padding-top: 53px;
}

.product-list__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-list__button--grey {
  color: #444444;
  background-color: #f2f2f2;
}

.product-list__item--add {
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top left;
}
