.product__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $f-minor;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 13px;

  &::before {
    content: "";
    display: block;
    width: 280px;
    height: 1px;
    background-color: $bg-secondary-dull;
    margin-bottom: 12px;
  }
}

.product__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $f-main;
  margin: 0;
}

.product__price {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $f-main;
}

.product__content {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 25px;
}

.product__button {
  padding: 9px 109px;
  margin-bottom: 19px;


  &:hover {
    background-color: $bg-main-dim;
  }

  &:active {
    background-color: $bg-main-dim;
    color: rgba($f-highlighted, 0.3);
  }

  &:focus {
    background-color: $bg-main-dim;
    color: rgba($f-highlighted, 0.3);
  }

  &:disabled {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .product__button {
    padding: 9px 285px;
    margin-left: 38px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 28px;
  }

  .product__text {
    font-size: 20px;
    line-height: 1;
    width: 163px;

    &::before {
      content: none;
    }
  }

  .product__description {
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
  }

  .product__description--first {
    padding-left: 55px;
  }

  .product__description--second {
    padding-right: 59px;
  }

  .product__description--third {
    padding-right: 49px;
  }

  .product__description--fourth {
    padding-left: 63px;
  }

  .product__price {
    font-size: 16px;
    line-height: 20px;
    padding-right: 5px;
  }

  .product__content {
    padding-bottom: 0;
  }

  .product__content--drink {
    justify-content: end;
  }
}

@media (min-width: $desktop-width) {
  .product__button {
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 19px;
    padding: 10px 91px;
  }

  .product__text {
    padding: 0;
  }

  .product__content {
    position: relative;
    top: 3px;
    padding: 0;
    padding-right: 27px;
  }

  .product__price {
    position: relative;
    left: 3px;
    padding: 0;
  }

  .product__price--small {
    padding-right: 8px;
  }

  .product__description {
    padding: 0;
  }

  .product__content--small {
    padding-right: 27px;
  }

  .product__content--drink {
    justify-content: space-between;
  }
}
