.promotion__wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 280px;
  margin: 0 auto;
}

.promotion__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $f-secondary;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 32px;
}

.promotion__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $f-secondary;
  margin: 0;
  text-align: center;
  padding-bottom: 24px;
  padding-right: 38px;
}

.promotion__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: auto;
  color: $f-main;
  text-transform: uppercase;
  padding: 13px;
  width: 254px;
  margin-bottom: 14px;
  border: 1px solid $bg-extra-scarce;

  &:hover {
    border: 1px solid $bg-secondary-dull;
  }

  &:focus {
    border: 1px solid $f-main;
    outline: none;
  }

  &:disabled {
    border: 1px solid $error;
    outline: none;
  }
}

.promotion__button {
  font-size: 20px;
  line-height: 26px;
  padding: 15px 84px;

  &:hover {
    background-color: $bg-main-dim;
  }

  &:active {
    background-color: $bg-main-dim;
    color: rgba($f-highlighted, 0.3);
  }

  &:focus {
    background-color: $bg-main-dim;
    color: rgba($f-highlighted, 0.3);
  }

  &:disabled {
    opacity: 0.3;
  }
}

.promotion__title-wrapper {
  position: relative;
  width: 100vw;

  &::before {
    content: "";
    background: #68b738;
    width: calc(100vw - 24% - 144px);
    height: 2px;
    position: absolute;
    top: 52%;
    left: calc(51% + 49px);
  }
}

@media (min-width: $tablet-width) {
  .promotion__wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 80px;
  }

  .promotion__form {
    display: flex;
    flex-wrap: wrap;
  }

  .promotion__title-wrapper {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      background: $bg-main;
      width: calc(100vw - 30% - 79px);
      height: 2px;
      position: absolute;
      top: 53%;
      left: calc(35% + 40px);
    }

    &::after {
      content: "";
      background: $bg-main;
      width: calc(100vw - 90% - 47px);
      height: 2px;
      position: absolute;
      top: 53%;
      right: calc(91% + 40px);
    }
  }

  .promotion__container {
    margin-left: 68px;
  }

  .promotion__title {
    display: inline-block;
    font-size: 32px;
    line-height: 1;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 66px;
    width: 202px;
    padding-left: 70px;
  }

  .promotion__text {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
    width: 632px;
  }

  .promotion__text br {
    display: none;
  }

  .promotion__button {
    padding: 15px 70px;
    width: 256px;
  }

  .promotion__input {
    margin-bottom: 0;
    width: 344px;
    padding: 12px 15px;
  }
}

@media (min-width: $desktop-width) {
  .promotion__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .promotion__title {
    font-size: 40px;
    line-height: 40px;
    padding-top: 96px;
    padding-bottom: 72px;
    width: 253px;
    padding-left: 0;
  }

  .promotion__title-wrapper {
    margin-left: 0;

    &::before {
      content: "";
      background: $bg-main;
      width: calc(100vw - 30% - 37px);
      height: 2px;
      position: absolute;
      top: 55%;
      left: calc(50% - 316px);
    }

    &::after {
      content: "";
      background: $bg-main;
      width: calc(100vw - 49% - 40px);
      height: 2px;
      position: absolute;
      top: 55%;
      right: calc(100% + 40px);
    }
  }

  .promotion__container {
    margin-left: 0;
  }

  .promotion__text {
    width: 653px;
    padding-left: 285px;
  }

  .promotion__form {
    justify-content: center;
    padding-bottom: 104px;
  }

  .promotion__input {
    width: 466px;
  }
}
