.title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.title--white {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .title--white {
    color: #000000;
  }
}
